[user]
name = Benjamin Bergstein
email = bennyjbergstein+github@gmail.com
[push]
	default = matching
[alias]
	co = checkout
	ci = commit
	st = status
	pf = push --force-with-lease
	cane = commit --amend --no-edit
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[core]
	excludesfile = /Users/ben/.gitignore
